:root {
    --color-dark: #1b1b1b;
    --color-light: #ffffff;
    --color-gold: #c7b8a5;
}


body {
    font-family: 'Oswald',sans-serif;
    font-weight: 200;
    background-color:  #F1F1F5;
    color: var(--color-dark);
    letter-spacing: .05rem;
}

.imagen{
    width: 800;
    height: 800;

}